<hr>
<h3>Donating</h3>
<h5>Donations keep me motivated to make cool stuff like this and my other Quake Live projects, and helps me pay the bills for these servers.</h5>
<div class="centered">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick"><br />
    <input type="hidden" name="hosted_button_id" value="22METAQZQ3MD6"><br />
    <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="Donate towards hosting fees for running Quake Live servers."><br />
    <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1"><br />
  </form>
  <p>Bitcoin: <a href="bitcoin:1PurgerAZWce6NuHjsHL7LmfbtuR3cBUVf">1Pur<font color="blue">g</font>erAZWce6NuHjsHL7LmfbtuR3cBUVf</a></p>
</div>
<footer class="centered">Made with <font color="red">♥</font> by Pur<font color="blue">g</font>er.</footer>
